.card-hover {
  display: none;
  position: absolute;
  top: 20px;
  left: 80%;

  &__text {
    display: block;
    @include hind-ligth;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: $c-white;
    background-color: $ligth-red;
    width: 37px;
    border-radius: 50px;
    text-align: center;
    padding: 4px 0;
    position: absolute;
  }
}
