.card-price {
  width: 125px;
  margin: 0 auto;

  &__image {
    width: 38px;
    height: 38px;
  }

  &__text {
    @include hind-semi-bold;
    font-size: 22px;
    line-height: 22px;
    color: $ligth-red;
  }

  &__span {
    @include hind-normal;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: $c-ligth-gray;
    visibility: hidden;
  }
}
