.section-product {

  &__title {
    text-align: center;
    @include hind-bold;
    font-size: 54px;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  @media (max-width:576px) {
    margin-top: 200px;
  }
}
