.shoese {
  background: url("/images/pink-shoes.png") no-repeat center / cover;
  height: 517px;
  width: 824px;
  margin-bottom: 170px;
  position: relative;

  &__text-sale {
    display: block;
    position: absolute;
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #fff;
    padding: 40px 25px;
    border-radius: 50%;
    background-color: #fc9d9d;
    top: 30px;
    left: 93%;

    @media (max-width:768px) {
      left: 92%;
      padding: 25px 10px;
    }

    @media (max-width:640px) {
      left: 90%;
    }

    @media (max-width:576px) {
      left: 93%;
    }

    @media (max-width:576px) {
      left: 70%;
    }
  }

  &__title {
    width: 308px;
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    padding-top: 357px;
    padding-left: 50px;

    @media (max-width:768px) {
      padding-top: 170px;
    }

    @media (max-width:576px) {
      padding-top: 260px;
    }
  }

  &__text {
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    padding-left: 50px;
  }

  &__button {
    width: 84px;
    padding: 5px 10px;
    background-color: #05297f;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    margin: 20px 0 0 50px;
  }

  &__button:hover {
    background-color: #fc9d9d;
    color: #000;
  }

  @media (max-width:992px) {
    height: 517px;
    width: 700px;
  }

  @media (max-width:850px) {
    height: 517px;
    width: 600px;
  }

  @media (max-width:768px) {
    height: 317px;
    width: 500px;
  }

  @media (max-width:640px) {
    height: 317px;
    width: 400px;
  }

  @media (max-width:576px) {
    height: 250px;
    width: 300px;
    margin: 0 auto;
  }

  // @media (max-width:384px) {
  //   height: 517px;
  //   width: 824px;
  // }
}
