.woman {
  background: url("/images/woman.png") no-repeat center / cover;
  height: 607px;
  width: 702px;
  position: relative;

  &__category {
    position: absolute;
    top: 0;
    left: 0;
    @include hind-semi-bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }

  &__title {
    @include hind-bold;
    font-size: 28px;
    line-height: 34px;
    padding-top: 447px;
    margin-left: 50px;
  }

  &__text {
    @include hind-bold;
    font-size: 28px;
    line-height: 34px;
    margin-left: 50px;
  }

  &__button {
    @include hind-ligth;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: $c-white;
    padding: 5px 10px;
    background-color: $c-blue;
    margin-left: 50px;
  }

  &__button:hover {
    background-color: $c-pink;
    color: $c-dark;
  }

  @media (max-width:1399px) {
    margin: 0 auto;
  }

  @media (max-width:768px) {
    width: 500px;
  }

  @media (max-width:576px) {
    width: 260px;
  }
}
