.connection-block-menu {

  &__link {
    @include hind-ligth;
    font-size: 18px;
    line-height: 24px;
    color: $c-gray;
  }

  &__link:hover {
    color: $c-blue;
  }

  @media (max-width: 1199px) {
    text-align: center;
  }
}
