.container-number {
  margin-left: 10px;

  &:hover {
    color: #05297f;
  }

  &__span {
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
  }

  &__text {
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }
}
