.nav-footer-item {
  width: 427px;

  &__link {
    border-right: 1px solid #e5e5e5;
    padding-right: 20px;
    @include hind-medium;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__link:hover {
    color: $c-blue;
  }
}
