.payment-block {

  &__title {
    @include hind-medium;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;

    @media (max-width: 1199px) {
      text-align: center;
    }
  }

  @media (max-width: 1199px) {
    margin-top: 20px;
  }
}
