.phone-block {

  &__text {
    @include hind-ligth;
    font-size: 18px;
    line-height: 24px;
    color: $c-gray;
    margin-bottom: 30px;

    @media (max-width: 1199px) {
      text-align: center;
    }
  }

  @media (max-width: 1199px) {
    margin-top: 20px;
  }
}
