.phone-block {

  &__text {
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #666;
    margin-bottom: 30px;

    @media (max-width: 1199px) {
      text-align: center;
    }
  }

  @media (max-width: 1199px) {
    margin-top: 20px;
  }
}
