@import "utils";
@import "typography";
@import "./reset.scss";
@import "./blocks/container-size.scss";

@import "./blocks/header/logo.scss";
@import "./blocks/header/block-menu.scss";
@import "./blocks/header/nav-header.scss";
@import "./blocks/header/nav-header-item.scss";
@import "./blocks/header/personal-nav-item.scss";
@import "./blocks/header/section-menu-logo.scss";
@import "./blocks/header/section-presentation.scss";
@import "./blocks/header/presentation.scss";
@import "./blocks/header/button-link.scss";
@import "./blocks/header/black-shoes.scss";
@import "./blocks/header/black-shoes-price.scss";

@import "./blocks/main/proposition.scss";
@import "./blocks/main/woman.scss";
@import "./blocks/main/connection-discount.scss";
@import "./blocks/main/discount.scss";
@import "./blocks/main/man.scss";
@import "./blocks/main/shoese.scss";
@import "./blocks/main/section-product.scss";
@import "./blocks/main/container-cards.scss";
@import "./blocks/main/logo-main.scss";
@import "./blocks/main/card.scss";
@import "./blocks/main/card-price.scss";
@import "./blocks/main/button.scss";
@import "./blocks/main/card-hover.scss";

@import "./blocks/footer/section-information.scss";
@import "./blocks/footer/section-menu.scss";
@import "./blocks/footer/footer.scss";
@import "./blocks/footer/size-footer.scss";
@import "./blocks/footer/nav-footer-item.scss";
@import "./blocks/footer/container-networks.scss";
@import "./blocks/footer/phone-link.scss";
@import "./blocks/footer/container-number.scss";
@import "./blocks/footer/phone-block.scss";
@import "./blocks/footer/connection-block.scss";
@import "./blocks/footer/connection-block-menu.scss";
@import "./blocks/footer/categories-block.scss";
@import "./blocks/footer/categories-block-menu.scss";
@import "./blocks/footer/payment-block.scss";
@import "./blocks/footer/payment-block-images.scss";

body {
  color: #252525;
  background: url("/images/bg-full.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  @media (max-width: 2000px) {
    background: url("/images/bg-full.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
}

a {
  color: black;
}

button,
a {
  cursor: pointer;
}
