.arrow-hover {
  display: none;
}

.button-link {
  width: 160px;

  &__arrow {
    width: 40px;
    height: 40px;
    border: none;
    background-color: $c-white;
    position: relative;

    &:hover {
      .arrow-hover {
        display: block;
      }

      .arrow {
        display: none;
      }
    }
  }
}
