.nav-header-item {
  width: 625px;
  margin-top: 25px;

  &__link {
    @include hind-medium;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__link:hover {
    color: $c-blue;
  }

  @media (max-width:1399px) {
    width: 525px;
  }

  @media (max-width:1199px) {
    width: 425px;
  }
}
